


#beetest{
  position: absolute;
  top: 10px;
  right: 40px;

}
#beeLabel{
  display: inline-block;
  bottom: 17px;
  font-size: 14px;
  left: 2px;
  position: relative;
  width: 147px;
  top: -7px;
  margin-left: 9px;
}
  #beeLegend{
    position: absolute;
    top: 387px;
    font-size: 14px;
    left: 39px;
    opacity: 0;
    background: rgba(255,255,255,.8);
    padding: 10px;
    padding-left: 0px;
  }
  .beeRow{
    margin-bottom: 9px;
  }
  .beelabel{
    font-weight: 900;
  }
  .beelabel span{
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
  .beelabel.above span{
    background: #55b748;
  }
  .beelabel.below span{
    background: #fdbf11;
  }

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {

  bottom: 10px;
  display: inline-block;
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: #d3d3d3;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #1696d2;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 12px;
}



/*#sections{
  pointer-events: none;
  opacity: 0;
}
*/

*:focus{
  outline: none;
}
body{
  font-family: "Lato";
}
.container {
  width: 1180px;
  margin: 0 auto;
  /* makes up for negative margin at top and removal of 80px padding*/
  padding-bottom: 60px;
}
.loadHide{
  opacity: 0 !important;
}


#topTitle{
  border-bottom: 1px solid #d2d2d2;
  font-size: 40px;
  font-weight: bold;
  /*margin-top: 100px;*/
  padding-bottom: 55px;
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
#topText, #bottomContent, .endText {
  margin-top: -30px;
  background: #fff;
  color:#353535;
  margin-bottom: 300px;
  padding: 0px 110px 40px 110px;
  position: relative;
  font-size: 19px;
  font-weight:400;
  z-index: 1000;
}
#loadingGif{
  margin-top: 40px;
}
#loadingGif img{
  margin: 0 auto;
  display: block;
  width: 60px;
}
#loadingText{
  display: block;
  margin: 0 auto;
  width: 47px;
  font-style: italic;
  color: #696969;
  margin-top: 16px;
  font-size: 14px;
}
.endText {
  margin: 0 auto;
  padding: 80px 80px 230px 80px;
  width: 1180px;
}

/*.endText:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 25%;
  left: 37.5%;
  bottom: 130px;
  border-bottom: 1px solid #d2d2d2;
}*/

#bottomTitle{
  font-weight: bold;
  margin-bottom: 10px;
}
#bottomContent{
  width: 1150px;
    margin: 0 auto;
    padding: 0px;
    padding-top: 30px;
    border-top: 1px solid #d2d2d2;
}
#topHR{
  width: 130px;
  height: 6px;
  background-color: #1696d2;
  margin: 0 auto;
  margin-bottom: 20px;
}


p{
  line-height:1.6;
  margin-bottom:15px !important;
}
#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
  padding-bottom: 20px;
  pointer-events: auto;
  margin-left: 40px;
}

.step {
  margin-bottom: 10vh;
  min-height: 80vh;
  font-family: "Lato";
  font-size: 18px;
  line-height: 23px;
  color: #000;
}
.smallStep{
  /*margin-bottom: 400px;*/
}
.title{
  font-size:18px;
   margin-top:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.subtitle{
  margin-top: -8px;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 8px;
}
#extra-space {
  height: 0px;
}

#narrativeVizContainer {
  display: inline-block;
  z-index: 1;
  margin-left: 0;
  position: relative;
  /*top: 730px;*/
  float: right;
}
#narrativeVizContainer svg{
  cursor: pointer;
}
#narrativeVizContainer svg.nonInteractive{
  cursor: auto;
}
#narrativeVizContainer.posFixed{
  position: fixed;
  top: 20px;
  /*want more space between words and chart, but i think changing this made your chart jump-sorry*/
  padding-left: 60px;
}
#narrativeVizContainer.posRelTop{
  position: relative;
  float: right;
  padding-left: 60px;
    top: -295px !important;
    left: -29px !important;


}
#narrativeVizContainer.posRelBottom{
  position: relative;
  float: inherit;
  padding-left: 0px;
  bottom: -511px;
  left: 6px !important;
}
#narrativeVizContainer.posRelBottomSingleCol{
  position: absolute;
  float: inherit;
  padding-left: 10px;
}
#narrativeVizContainer.posRelTopSingleCol{
   position: absolute;
  float: inherit;
  padding-left: 10px;
}

.selectedSchool {
  border-bottom: 2px solid #ec008b;
}

.belowAvgSchool {
  border-bottom: 2px solid #fdbf11;
}

.aboveAvgSchool {
  border-bottom: 2px solid #55b748;
}
.narrative-inline, .explore-inline{
  position: relative;
  cursor: pointer;
}
.narrative-inline:hover{
  border-bottom: 2px solid #353535;
}

.narrative-tooltip {
  background: #ffffff;
  border: 2px solid #353535;
  display: none;
  position: absolute;
  padding: 20px;
  font-style: italic;
  font-size: 14px;
}
.narrative-tooltip.ntt-race{
  width: 430px;
  top: -110px;
  left: 64px;
}
.narrative-tooltip.ntt-dist{
    width: 280px;
    top: -79px;
    left: 95px;
}
.narrative-tooltip:after, .narrative-tooltip:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.narrative-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 15px;
  margin-top: -15px;
}
.narrative-tooltip:before {
  border-color: rgba(53, 53, 53, 0);
  border-right-color: #353535;
  border-width: 18px;
  margin-top: -18px;
}




.explore-tooltip {
  background: #ffffff;
  border: 2px solid #ec008b;
  display: none;
  position: absolute;
  padding: 20px;
  font-style: italic;
  font-size: 14px;
  z-index: 10;
  top: 42px;
  left: -100px;
  width: 226px;
}
.explore-tooltip:after, .explore-tooltip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.explore-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}
.explore-tooltip:before {
  border-color: rgba(236, 0, 139, 0);
  border-bottom-color: #ec008b;
  border-width: 18px;
  margin-left: -18px;
}
#ett-none{
  display: none;
}
/******************* BUTTONS **************************/
#mobileButtonContainer{
    position: absolute;
    bottom: 33px;
    left: 220px;
    width: 100%;
}
.mobileButton{
  width: 85px;
  margin-right: 22px;
  margin-bottom: 7px;
  height: 10px;
  padding-top: 13px;
  padding-bottom: 26px;
  color: #5c5859;
  background-color: #d2d2d2;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
/*.mobileButton.locked{
  opacity: .3 !important;
}*/
.mobileButton.active{
  background-color: #af206c;
  color: #ffffff;
}



/******************* V CHART COMPONENTS **************************/

.v.x.axis path,
.v.x.axis line {
  fill: none;
  stroke: #353535;
  shape-rendering: crispEdges;
}

.v.x.axis > g > line {
  stroke: #adabac;
}

.axis.label{
    font-size: 14px;
    font-style: italic;
    fill: #9D9D9D;
}
.axis.label.choose{
  fill: #dcdbdb;
}
.y.axis.label.choose{
  display: none;
}
.v.y.axis path{
  display: none;
}
.v.y.axis line{
  stroke: #dedddd;
}
.tick text{
  font-size: 14px;
  font-family: "Lato";
}

text.districtAverage, .exploreMedianText{
  font-size: 16px;
  color: #696969;
}

text.districtAverage.label, .exploreMedianText.exploreMedianBottomText{
  font-weight: 900;
  color: #000;
}
.distAvgBg{
  fill: #fff;
  opacity: .7;  
}
.distAvgBg.choose{
  fill: #5C5859;
}

.milwaukee.medianLine, .explore.medianLine{
  stroke: #848081;
  stroke-dasharray: 2 3;
}
.choose.medianLine{
   stroke: #fff;
  stroke-dasharray: 2 3;
}

.choose.medianTextG{
  fill: #fff;
}

.dot.belowMedian{
  fill: #fdbf11;
  stroke: #fff;
  stroke-width: .5;
}
.dot.aboveMedian{
  fill: #55b748;
  stroke: #fff;
  stroke-width: .5;
}
.dot.highlight, .dot.active{
  fill: #ec008b;
  opacity: 1;
}
.dot, .lollipop{
  pointer-events: none;
}
.lollipop{
  stroke-width: 1px;
}
.lollipop.belowMedian{
  stroke: #fdbf11;
}
.lollipop.aboveMedian{
  stroke: #55b748;
}
.lollipop.highlight, .lollipop.active{
  stroke: #ec008b;
  opacity: 1;
}
.directLabel.over rect{
  fill: #55b748
}
.directLabel.under rect{
  fill: #fdbf11
}
.directLabel text{
  font-size: 14px;
}
.textShadow{
  filter: url(#textShadow);
  fill: #ffffff;
}

/******************* V CHOOSE CHART COMPONENTS **************************/

.v.choose.axis path,
.v.choose.axis line{
  stroke: #fff;
}

.v.choose.y.axis line{
  stroke: #9d9d9d;
  stroke-width: .75px;
}


/******************* END CHART COMPONENTS **************************/

#exploreSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
    display: block !important;
    position: absolute;
    width: 131px;
    /* top: 270px !important; */
    left: 0px !important;
    height: fit-content;
    color: #353535;
    width: 363px !important;
    list-style: none;
    top: -50px !important;
    z-index: 200;
}


  .step.firstStep, .step.lastStep{
    margin: 0px;
    height: 0px;
    min-height: 0px;
  }

#isMobile, #isPhone, #isShort, #sectionIndex{
    display: none;
    pointer-events: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.dotNote{
  display: block;
}
.mobileDotNote{
  display: none;
  font-style: italic;
}
.mobileDotNote span{
  font-weight: bold;
}
#mobile-notes{
  display: none;
}
#mobile-notes-text-dots{
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 1.6;
}
#mobile-notes-text-maps{
  font-size: 14px;
  line-height: 1.6;
}



/********************************************************/
/************* NARRATIVE CHOOSE SCHOOL *****************/
/********************************************************/

#narrativeSchoolSelectorContainer {
  margin: 0 auto;
  width: 1180px;
}

#narrativeChooseSchoolContainer{
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
  height: 0px;
  width: 100%;
  background: #5C5859;
  border-top: 1px solid #332D2F;
  color: #fff;
  padding-left: 80px;
}
#narrativeChooseSchoolContainer.teaser .instructions.teaser{
  display: block;
}
#narrativeChooseSchoolContainer svg{
  /*pointer-events: none;*/
  opacity: 0;
}
#narrativeChooseSchoolContainer.open svg{
  opacity: 1;
}
.instructions.teaser {
  display: none;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 22px;
  margin-top: 10px;
}

.instructions.teaser > p {
  margin-bottom: 0 !important;
}

.instructions.teaser > p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin-top: 2px;
}

p.missingDataNote {
  display: none;
  font-size: 12px;
}

#narrativeChooseSchoolHeader, #narrativeChooseSchoolTextContainer{
    width: calc(100% - 20px);
    height: 30px;
    margin-top: 10px;
}
#narrativeChooseSchoolHeader{
  position: relative;
}
#narrativeChooseSchoolArrow{
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  cursor: pointer;
}
#narrativeChooseSchoolArrow img{
  float: right;
  width: 19px;
  margin-top: 7px;
  opacity: .3;
}
#narrativeChooseSchoolLabel{
  display: inline-block;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
}
#narrativeChooseSchoolInput{
    display: inline-block;
    float: left;
    color: #fff;
    background: #5C5859;
    border: 1px solid white;
    padding: 5px 11px;
    font-weight: 900;
    font-style: italic;
    font-size: 14px;
    font-family: Lato;
    width: 400px;
    z-index: 2;
    position: absolute;
    left: 0px;
}
#narrativeChooseSchoolContainer.teaser #narrativeChooseSchoolInput{
  margin-bottom: 100px;
}
#narrativeChooseSchoolContainer.teaser #narrativeChooseSchoolArrow{
  display: none;
}
#narrativeChooseSchoolName{
  margin-bottom: 15px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}
.choose-lvl{
  float: left;
  background: #848081;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #848081;
  padding: 8px 12px;
  margin-right: 16px;
  cursor: pointer;
}
.choose-lvl.active{
  border: 1px solid #fff;
}
#narrativeChooseSchoolArrow{
  float: right;
  transform: rotate(0deg);
  cursor: pointer;
  z-index: 1;
}

#narrativeChooseSchoolTextContainer{
  margin-top: 31px;
  width: 400px;
}
#narrativeChooseSchoolText{
  float: left;
  clear: both;
  margin-top: 25px;
  font-size: 15px;
  line-height: 24px;
}
#narrativeChooseSchoolChartContainer{
    position: absolute;
    right: 0px;
    top: 12px;
}
#narrativeChooseSchoolChartContainer svg{
    position: absolute;
    right: 0px;
    top: 0px;
}
#narrativeChooseSchoolList {
    position: fixed;
    /*left: 10px;*/
    display: block;
    top: -43px;
    height: 100%;
}
#narrativeChooseSchoolList.open{
  top: calc(-50% + 33px );
}
#narrativeChooseSchoolList.teaser{
  top: -60px;
}

#exploreSchoolInput{
    border: 1px solid #5C5859;
    padding: 8px 11px;
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    font-family: Lato;
    width: 363px;
    margin-bottom: 30px;
}

#exploreSchoolList{
  position: relative;
}

#narrativeChooseSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
    display: block !important;
    position: absolute;
    left: 0px !important;
    margin-left: 0px !important;
    bottom: -5px;
    height: fit-content;
    top: unset !important;
    color: #fff;
    width: 400px !important;
    list-style: none;
}
#narrativeChooseSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li{
  background: #7B7B7B;
  padding: 22px 15px 22px 15px;
  border-bottom: 1px solid #BCBCBC;
  cursor: pointer;
}
#exploreSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li{
  background: #ffffff;
  padding: 22px 15px 22px 15px;
  border-bottom: 1px solid #BCBCBC;
  border-left: 1px solid #353535;
  border-right: 1px solid #353535;
  cursor: pointer;
}
#exploreSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li:hover, #narrativeChooseSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li:hover{
  background: #1696d2;
  color: #fff;
}
.searchSchool{
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.searchCity{
font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.searchLevel{
  font-size: 13px;
  font-style: italic;
}
.noSchool{
  font-style: italic;
  font-size: 14px;
  line-height: 1.7;
  pointer-events: none;
}


/**************explore controls**************/

#exploreHeading{
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 10px;
  padding-bottom: 0;
}

#exploreHeaderBar {

  padding: 20px 0;
}

#exploreBarContentWrapper {
  width: 1150px;
  margin: 0 auto;
}

.endSymbol {
  display: block;
  margin: 0px auto 250px auto;
  width: 40px;
}

.levelButton{
  font-size: 14px;
  display: inline-block;
background: #d2d2d2;
    color: #9d9d9d;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}
.levelButton.active{
  background: #1696d2;
  color: #fff;
}
#schoolTypeControlContainer{
  margin-bottom: 70px;
}

/*#schoolTypeSpacer {
  margin-top: 110px;
}
*/
#schoolTypeLabel{
  font-size: 16px;
  margin-bottom: 12px;
  font-style: italic;
  display: inline;
  margin-right: 25px;
}
.radioContainer{
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
  margin-top: 50px;
}
.radioContainer.fixedFriend{
  margin-top: 150px;
}
.radioButton{
display: inline-block;
    width: 21px;
    margin-right: 0px;
    top: 7px;
    position: relative;
    height: 21px;
    background-image: url(../images/radio-inactive.png);
    background-size: 36px;
    background-size: 17px;
    background-repeat: no-repeat;


}
.radioContainer.active .radioButton{

  background-image: url(../images/radio-active.png);

}
.radioLabel{
  display: inline-block;
  font-size: 16px;
}

/****************explore tooltip ********************/
#tt-container.fixed{
    position: fixed;
    top: 50px;
    background: white;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid #EC008B;
    left: 0px;
    padding-left: 20px;
}
#tt-container.fixed #tt-lvlContainer{
  margin-top: 7px ;
}
#tt-container.fixed #tt-schoolName{
  margin-top: 18px;
}
#tt-container.fixed #tt-dataContainer{
    top: 56px;
    position: fixed;
    z-index: 200;
    /*pointer-events: none;*/
    right: 0px;
    left: calc(50% + 59px);
    margin-left: 0px !important;
}
#tt-container.fixed .tt-datumContainer.district {


}
#tt-container.fixed #tt-nameContainer{
  border-bottom: none;
}
#tt-nameContainer{
    padding-bottom: 15px;
    /*border-bottom: 2px solid #EC008B;*/
    width: 442px;
    float: left;
}
#tt-schoolName{
    color: #0E0C0D;
    font-size: 21px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;

}
.tt-lvl{
    display: inline-block;
    font-size: 14px;
    background: #DCDBDB;
    color: #0E0C0D;
    width: fit-content;
    padding: 6px 11px;
    margin-right: 8px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#tt-lvlContainer {
  margin-top: 10px;

}
.tt-catContainer {
  display: inline;
}

.tt-catContainer.cat-col-1 {
  float: left;
  margin-top: 25px;
  margin-right: 40px;
}

.tt-catContainer.cat-col-2 {
  float: left;
}

.tt-catContainer > span {
  font-size: 16px;
  font-weight: 700;
}

.tt-catContainer.cat-col-2 > div {
  padding-left: 10px;
}

.tt-catContainer > .tt-datumContainer {
  padding-bottom: 1px;
}

.clear {
  clear: both;
}

.more-info {
    background-color: #D2D2D2;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 700;
    padding: 2px 6px;
    margin-left: 3px;
    text-align: center;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}
.more-info.inline{
    top: -7px;
    position: relative;
}
.more-info.explore{
  position: relative;
  top: -2px;
}
#tt-container.fixed > hr {
  display: none;
}
hr {
  background-color: #ec008b;
  border: none;
  height: 2px;
}

.tt-lvl.active{
  background: #EC008B;
  color: #fff;
}
.tt-lvl.hidden{
  display: none;
}
#tt-dataContainer{
    display: block;
    float: left;
    margin-bottom: 15px;
}
#tt-container.fixed #tt-dataContainer{
  margin-top: 31px;
}
.tt-datumContainer{
font-size: 18px;
}

.tt-datumContainer > div {
  display: inline;
  padding-right: 5px;
}

.tt-datumContainer.minority{
/*  width: 24%;*/
}
.tt-datumContainer.sci{
/*  width: 6%;*/
}

#tt-nameContainer > div > .tt-datumLabel {
  color: #353535;
  text-transform: uppercase;
}

#tt-nameContainer > div > .tt-datumValue {
  color: #848081;
  font-style: italic;
}

#tt-dataContainer > div > div > .tt-datumValue {
  font-weight: 700;
}

.tt-datumLabel{
  font-size: 14px;
  color: #848081;
}
.tt-datumValue{
  font-size: 14px;
}

.tt-datumContainer.district{
/*  width: 60%;*/
}
#tt-container.fixed #tt-hood{
  margin-top: 9px;
}
#tt-hood{
color: #353535;
    font-size: 14px;
    font-style: italic;
    float: right;
    margin-top: 19px;
    width: 45%;
}
/****************explore v********************/

#exploreVChartContainer{
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 43px;
  z-index: 2;
}


/********** MAPPPP **************/
#mapComponentsContainer{
  height: 470px;
  width: 470px;
    position: absolute;
    right: 49px;
}
#mapContainer{
border: 1px solid #9D9D9D;
z-index: 3;
}
#mapContainer.noDistrict{
  cursor: not-allowed !important;
}

#mapContainer, #mapDotSvgContainer{
height: 500px;
    width: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
 #mapDotSvgContainer{
    pointer-events: none;
    z-index: 5;
}
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass{
    display: none ;
}



/********************* breakdown bars *****************/
#breakdownContainer{
    display: block;
    float: left;
    clear: both;
}
.breakdownHeader{
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.breakdownHeader.race{
  margin-top: 30px;
}
.breakdownSubheader{
  font-size: 13px;
}
.breakdownSubheader.overunder{
    top: 50px;
    position: relative;
}
#breakdownUnderContainer{
  display: inline-block;
  margin-top: 33px;
  margin-right: 40px;
}
#breakdownOverContainer{
  display: inline-block;
  margin-top: 60px;
}
.breakdownRaceBarContainer{
  width: 470px;
  margin-top: 5px;
  background: #dcdcdc;
  height: 25px;
  position: relative;
}
.breakdownRaceBar{
  display: flex;
  height: 25px;
  position: absolute;
  top: 0px;
}
.breakdownRaceBar.under{
  left: 0px;
  background: #FDBF11;
  border-right: 2px solid #fff;
}
.breakdownRaceBar.over{
  right: 0px;
  background: #56B747;
  border-left: 2px solid #fff;
}
.breadownRaceBarLabel{
  font-size: 14px;
  position: absolute;
  top: 28px;
}
.bblPercent{
  display: block;
  font-weight: bold;
}
.breadownRaceBarLabel.under{
  left: 0px;
  text-align: left;
}
.breadownRaceBarLabel.over{
  right: 0px;
  text-align: right;
}
.mouseSubBar{
  display: inline-block;
  float: left;
height: 25px;
    cursor: pointer;
}
.mouseSubBar.active{
  background: #ec008b;
}
.mouseSubBar.disabled{
    pointer-events: none;
    background: white;
    opacity: .6;
}


.breakdownTypeName{
  font-size: 18px;
  margin-top: 10px;
}

.breakdownTypeBarContainer{
  width: 202px;
  margin-top: 5px;
  background: #dcdcdc;
  height: 25px;
  position: relative;
}
.breakdownTypeBarContainer.sci{
  margin-top: 24px;
}
.breakdownTypeBarContainer.pop{
  margin-top: 46px;
}
.subBar{
  display: flex;
  height: 25px;
  /*position: absolute;*/
  top: 0px;
  float: left;
  border-right: 2px solid #fff;
}
.subBar.active{
  background: #1696d2;
}
.subBar.hide{
  display: none;
}
.subLabel{
  font-size: 14px;
}
.subLabel span{
  font-weight: bold;
  display: inline-block;
  margin-right: 3px;
}
.breakdownTypeChartContainer{
  width: 240px;
  display: inline-block;
}
.breakdownHeader.type{
  margin-top: 30px;
}
.breakdownNoSchools{
  display: block;
  position: absolute;
  z-index: 1;
  background: #fff;
  width: 200px;
  font-size: 13px;
  font-style: italic;
  color: #848081;
  padding-top: 20px;
  padding-bottom: 100px;
}
.breakdownNoSchools.hide{
  display: none;
}

.ui-helper-hidden-accessible{
  display: none;
}


.voronoi path{
  fill: transparent;
  stroke: none;
}




footer{
  display: block;
    float: left;
    width: 100%;
}
footer p{
  clear: both;
}
.footerButton{
  margin-bottom: 30px;
}
.readResearchButton{
  margin-right: 10px;
}


.explore.medianTextG{
  display: none;
}



/********header (below urban menu)**********/


.headerimage{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 720px;
  z-index:-1;
}

.headerwrapper{
  padding-top:120px;
}

#heroimage{
   background-image: url("../images/final-header-illo-01.jpg");
   background-position: bottom;
     background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}


.div-title-block
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  width:90%;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4em;
  font-size: 2.3em;
  margin: auto;
}



@media (max-width: 2000px) {
  .headerimage{ height:600px;}
}
@media (max-width: 1200px){
  .container{
    margin-left: 10px;
  }
  #narrativeSchoolSelectorContainer{
    width: 100%;
  }
}
@media (max-height: 665px), (max-width: 1170px){
  .headerimage{
    height: 440px !important;
  }
  .container{
    margin-left: auto;
    width: 100%;
  }
  #isMobile{
    display: block;
  }
  #topText, #bottomContent, .endText{
    font-size: 18px;
  }
#extra-space {
  height: 680px;
  z-index: -1;
}
  #sections{
    display: inherit;
    width: 400px;
    margin: 0 auto;
  }
  .step {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(136, 136, 136) 4px 4px 16px;
    padding: 30px;
    z-index: 99;
    min-height: 100px;
    margin-bottom: 800px;
  }
  .lastStep, .firstStep{
    opacity: 0 !important;
  }
  #bottomContent, #exploreBarContentWrapper {
    width: calc(100% - 40px) !important;
    padding: 20px !important;
  }
  #exploreBarContentWrapper{
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
  .step.lastStep{
    margin-bottom: 0px;
  }

  #narrativeVizContainer{
    /*position: fixed;*/
    /*top: 20px;*/
  }

  #exploreVChartContainer{
    margin: 0 auto;
    width: 600px;
    display: block;
    clear: both;
    float: initial;
    height: 620px;
    padding-left: 21px;
  }

  #mapComponentsContainer{
   position: relative !important;
    display: block;
    margin: 0 auto;
  }
  #mapContainer{
    position: relative !important;
    display: block;
    float: left;
  }
  #tt-dataContainer{
    margin-left: 0px !important;
    float: right !important;
  }
  #narrativeVizContainer.posFixed{
    padding-left: 20px;
  }

  .radioContainer{
    margin-top: 10px !important;
  }
  #beetest {
    right: 60px
  }
  #mapContainer, #mapDotSvgContainer, #mapComponentsContainer{
    width: 534px;
  }
  #mapComponentsContainer{
    right: inherit;
  }
  #breakdownContainer{
    margin-top: 130px;
    width: 100%;
  }
  .breakdownHeader{
    font-size: 23px;
  }
  #exploreHeading {
    font-size: 28px;
  }
  #breakdownTypeContainer{
    width: 534px;
    margin: 0 auto;
  }
  #exploreSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
    margin-left: 0px;
    top: -70px !important;
  }
  #narrativeChooseSchoolTextContainer{
    width: calc(100% - 80px);
    opacity: 0;
  }
  #narrativeChooseSchoolChartContainer svg{
    top: 210px !important;
  }


}

@media (max-width: 991px) {

   .headerwrapper{padding-top:125px;}

}

@media(max-width: 975px){
  #exploreHeaderBar{
    height: 7px;
    padding: 0px;
  }
  #exploreBarContentWrapper{
    position: relative;
  }
  #exploreSchoolInput{
    position: absolute;
    right: -40px;
    top: 47px;
    width: 240px !important;
  }  
  #tt-dataContainer{
  float: left !important;
    clear: both;
    margin-top: 16px;
  }
  #exploreSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
    right: 0px !important;
    left: inherit !important;
    top: 79px !important;
    width: 240px !important;
  }
}


@media (max-width: 930px){
  .headerimage {
    height: 350px !important;
  }

  #topText, #bottomContent{
    /*margin-top: -60px;*/
  }
}

@media (max-height: 880px){
  #isShort{
    display: block;
  }
  #narrativeVizContainer.posRelBottom{
  bottom: -511px;
    left: 6px !important;
  }
  #dotChartYAxis .tick text{
    font-size: 11px;
  }

/*  .scatterButton{
    bottom: 80px;
  }*/
}


@media  (max-width: 768px){
  #isPhone{
    display: block;
  }
  #mobileButtonContainer{
    /*display: none;*/
    bottom: -10px;
    left: 0px;
  }
  .legendText{
    font-size: 12px;
  }
  .mobileButton{
    margin-right: 4px;
  }
  #mobileButtonContainer{
    display: block;
  }
  #narrativeVizContainer.posFixed{
    left: 0px !important;
  }
  #narrativeChooseSchoolContainer{
    display: none !important;
  }
  #topText{
    padding: 0px;
  }

  .narrative-tooltip.ntt-race{
      width: 270px;
    top: 44px;
    left: -17px;
  }
.narrative-tooltip.ntt-dist {
    width: 280px;
    top: 41px;
    left: -20px;
}
.narrative-tooltip:after, .narrative-tooltip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
    right: initial;
    top: initial;
}

.narrative-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.narrative-tooltip:before {
  border-color: rgba(53, 53, 53, 0);
  border-bottom-color: #353535;
  border-width: 18px;
  margin-left: -18px;
  margin-top: 0px;
}
.endText{
    padding-top: 0px;
    margin-top: -1330px;
}
#extra-space{
  height: 0px;
}

.breakdownHeader.type{
  margin-top: -90px;
}

}


@media (max-width: 768px){
  .step {
    margin-bottom: 1200px;
  }
  #topTitle {
    font-size: 24px;
  }
  .endText{
    /*padding: 10px;*/
    margin-top: -710px;
  }
  #tt-schoolName{
    margin-top: 78px;
  }
  #tt-nameContainer{
    width: 100%;
  }
  .tt-lvl {
    margin-bottom: 10px;
  }
  #exploreSchoolInput {
    position: relative;
    right: 0;
    top: 0px;
  }
  #exploreSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
    top: -18px !important;
    left: 0px !important;
  }
  #tt-dataContainer{
    margin-top: 0px;
  }
  #tt-nameContainer{
    padding-bottom: 0px;
  }
  .tt-catContainer > span{
    font-size: 15px;
  }
  .tt-catContainer.cat-col-1{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .cat-col-1 .tt-datumContainer{
    display: inline-block;
    margin-right: 10px
  }
  .tt-catContainer.cat-col-2 > div{
    padding-left: 0px;
  }
  .explore-tooltip{
    left: -90px;
    width: 206px;
  }
  #exploreVChartContainer{
    width: 100%;
    padding-left: 0px;
  }
  #beetest {
      right: 0px;
  }
  #mapContainer, #mapDotSvgContainer, #mapComponentsContainer{
    width: 100%;
  }
  #breakdownTypeContainer{
    width: 100%;
  }
  .breakdownTypeChartContainer {
    display: block;
    margin-bottom: 80px;
  }
  .breakdownTypeBarContainer.pop {
      margin-top: 26px;
  }
}

@media (max-width: 500px){
  .headerimage {
    height: 180px !important;
    top: 20px;
  }
  #topText, #bottomContent, .endText{
    margin-top: 0px;
    padding: 0px;
  }
  #sections{
    width: 300px;
    /*left: -20px;*/
  }
}

@media (max-width: 600px){
  #topTitle { padding-bottom: 20px; }
}
@media (max-width: 600px) {
   .headerimage{ height:300px;}
   .div-title-block {
    font-size: 1.6em !important;
   }
}
@media  (max-width: 480px) {
  .full-width-col { font-size:18px;}
   .container {margin-bottom: 40px; padding:0px 4px;}
   .headerimage{width: 100%; height: 300px;}
   .headerwrapper{padding-top:80px;}
   h1 { font-size:24px;}

}

@media (max-width: 350px){
  #sections{
    /*width: 300px;*/
    left: -20px;
    /*pointer-events: none;*/
  }
}













