


#beetest{

width: fit-content;
    padding: 10px;
    top: -100px;
    position: relative;
    /* background: #fdbf11; */
    /* border: 3px solid black; */
    background: repeating-linear-gradient( 90deg, #fdbf11, #fdbf11 10px, #333 10px, #333 20px );
    color: white;
    cursor: pointer;
    border-radius: 40px
}
/*#sections{
  pointer-events: none;
  opacity: 0;
}
*/

*:focus{
  outline: none;
}
body{
  font-family: "Lato";
}
.container {
  width: 1180px;
  margin: 0 auto;
}


#topTitle{
    font-size: 40px;
    font-weight: bold;
    /*margin-top: 100px;*/
    margin-bottom: 50px;
    text-align: center;
}
#topText, #bottomContent, .endText {
  /*margin-top: -140px;*/
  background: #fff;
  color:#353535;
  margin-bottom: 300px;
  padding: 80px 80px 40px 80px;
  position: relative;
  font-size: 21px;
  font-weight:400;
  z-index: 1000;
}
#bottomTitle{
  font-weight: bold;
  margin-bottom: 10px;
}
#bottomContent{
  width: 1150px;
    margin: 0 auto;
    padding: 0px;
    margin-top: 50px;
}
#topHR{
  width: 130px;
  height: 6px;
  background-color: #1696d2;
  margin: 0 auto;
  margin-bottom: 20px;
}


p{
  line-height:1.6;
  margin-bottom:15px !important;
}
#sections {
  position: relative;
  display: inline-block;
  width: 400px;
  top: 0px;
  z-index: 90;
  padding-bottom: 20px;
  pointer-events: auto;
  margin-left: 40px;
}

.step {
  margin-bottom: 10vh;
  min-height: 80vh;
  font-family: "Lato";
  font-size: 18px;
  line-height: 23px;
  color: #000;
}
.smallStep{
  /*margin-bottom: 400px;*/
}
.title{
  font-size:18px;
   margin-top:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.subtitle{
  margin-top: -8px;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 8px;
}
#extra-space {
  height: 0px;
}

#narrativeVizContainer {
  display: inline-block;
  z-index: 1;
  margin-left: 0;
  position: relative;
  /*top: 730px;*/
  float: right;
}
#narrativeVizContainer svg{
  cursor: pointer;
}
#narrativeVizContainer svg.nonInteractive{
  cursor: auto;
}
#narrativeVizContainer.posFixed{
  position: fixed;
  top: 20px;
  /*want more space between words and chart, but i think changing this made your chart jump-sorry*/
  padding-left: 60px;
}
#narrativeVizContainer.posRelTop{
  position: relative;
  float: right;
  padding-left: 60px;
    top: -295px !important;
    left: -29px !important;


}
#narrativeVizContainer.posRelBottom{
  position: relative;
  float: inherit;
  padding-left: 0px;
  bottom: -511px;
  left: 6px !important;
}
#narrativeVizContainer.posRelBottomSingleCol{
  position: absolute;
  float: inherit;
  padding-left: 10px;
}
#narrativeVizContainer.posRelTopSingleCol{
   position: absolute;
  float: inherit;
  padding-left: 10px;
}

.selectedSchool {
  border-bottom: 2px solid #ec008b;
}

.belowAvgSchool {
  border-bottom: 2px solid #fdbf11;
}

.aboveAvgSchool {
  border-bottom: 2px solid #55b748;
}


/******************* BUTTONS **************************/
#mobileButtonContainer{
    position: absolute;
    bottom: 33px;
    left: 220px;
    width: 100%;
}
.mobileButton{
  width: 85px;
  margin-right: 22px;
  margin-bottom: 7px;
  height: 10px;
  padding-top: 13px;
  padding-bottom: 26px;
  color: #5c5859;
  background-color: #d2d2d2;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
/*.mobileButton.locked{
  opacity: .3 !important;
}*/
.mobileButton.active{
  background-color: #af206c;
  color: #ffffff;
}



/******************* V CHART COMPONENTS **************************/

.v.x.axis path,
.v.x.axis line {
  fill: none;
  stroke: #353535;
  shape-rendering: crispEdges;
}

.v.x.axis > g > line {
  stroke: #adabac;
}

.axis.label{
    font-size: 14px;
    font-style: italic;
}
.axis.label.choose{
  fill: #fff;
}
.v.y.axis path{
  display: none;
}
.v.y.axis line{
  stroke: #dedddd;
}
.tick text{
  font-size: 14px;
  font-family: "Lato";
}



.milwaukee.medianLine, .explore.medianLine{
  stroke: #848081;
  stroke-dasharray: 2 3;
}
.choose.medianLine{
   stroke: #fff;
  stroke-dasharray: 2 3;
}

.choose.medianTextG{
  fill: #fff;
}

.dot.belowMedian{
  fill: #fdbf11;
  stroke: #fff;
  stroke-width: .5;
}
.dot.aboveMedian{
  fill: #55b748;
  stroke: #fff;
  stroke-width: .5;
}
.dot.highlight, .dot.active{
  fill: #ec008b;
  opacity: 1;
}
.dot, .lollipop{
  pointer-events: none;
}
.lollipop{
  stroke-width: 1px;
}
.lollipop.belowMedian{
  stroke: #fdbf11;
}
.lollipop.aboveMedian{
  stroke: #55b748;
}
.lollipop.highlight, .lollipop.active{
  stroke: #ec008b;
  opacity: 1;
}
.directLabel.over rect{
  fill: #55b748
}
.directLabel.under rect{
  fill: #fdbf11
}
.directLabel text{
  font-size: 14px;
}

/******************* V CHOOSE CHART COMPONENTS **************************/

.v.choose.axis path,
.v.choose.axis line{
  stroke: #fff;
}

.v.choose.y.axis line{
  stroke: #fff;
  stroke-dasharray: 2px 3px;
  stroke-width: .75px;
}


/******************* END CHART COMPONENTS **************************/
  .step.firstStep, .step.lastStep{
    margin: 0px;
    height: 0px;
    min-height: 0px;
  }

#isMobile, #isPhone, #isShort, #sectionIndex{
    display: none;
    pointer-events: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.dotNote{
  display: block;
}
.mobileDotNote{
  display: none;
  font-style: italic;
}
.mobileDotNote span{
  font-weight: bold;
}
#mobile-notes{
  display: none;
}
#mobile-notes-text-dots{
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 1.6;
}
#mobile-notes-text-maps{
  font-size: 14px;
  line-height: 1.6;
}

@media (max-height: 880px){
  #isShort{
    display: block;
  }
  #narrativeVizContainer.posRelBottom{
  bottom: -511px;
    left: 6px !important;
  }
  #dotChartYAxis .tick text{
    font-size: 11px;
  }

/*  .scatterButton{
    bottom: 80px;
  }*/
}

@media (max-height: 636px) , (max-width: 768px){
  #isPhone{
    display: block;
  }
  #mobileButtonContainer{
    /*display: none;*/
    bottom: -10px;
    left: 0px;
  }
  .legendText{
    font-size: 12px;
  }
  .mobileButton{
    margin-right: 4px;
  }
  #mobileButtonContainer{
    display: block;
  }
}

@media (max-width: 1200px){
  .container{
    margin-left: 10px;
  }
}
@media (max-width: 1170px){
  .headerimage{
    height: 440px !important;
  }
  .container{
    margin-left: auto;
    width: 100%;
  }
  #isMobile{
    display: block;
  }
  #topText, #bottomContent{
    font-size: 18px;
  }
#extra-space {
  height: 680px;
  z-index: -1;
}
  #sections{
    display: inherit;
    width: 400px;
    margin: 0 auto;
    pointer-events: none;
  }
  .step {
    margin-bottom: 10vh;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(136, 136, 136) 4px 4px 16px;
    padding: 30px;
    z-index: 2;
  }
  .lastStep{
    opacity: 0 !important;
  }
  #bottomContent, #exploreBarContentWrapper {
      width: calc(100% - 80px);
  }
  .step.lastStep{
    margin-bottom: 0px;
  }

  #narrativeVizContainer{
    /*position: fixed;*/
    /*top: 20px;*/
  }
}
@media (max-width: 930px){
  .headerimage {
    height: 350px !important;
  }
  #topTitle {
    font-size: 25px;
  }
}
@media (max-width: 768px){
  .step {
    margin-bottom: 1200px;
  }
}
@media (max-width: 350px){
  #sections{
    /*width: 300px;*/
    left: -20px;
    /*pointer-events: none;*/
  }
}

@media (max-width: 500px){
  .headerimage {
    height: 180px !important;
    top: 20px;
  }
  #topText, #bottomContent{
    margin-top: -90px;
    padding: 20px;
  }
  #sections{
    width: 300px;
    /*left: -20px;*/
    pointer-events: none;
  }
}



/********header (below urban menu)**********/


.headerimage{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 720px;
  z-index:-1;
}

.headerwrapper{
  padding-top:120px;
}

#heroimage{
   background-image: url("../images/header-illo-dark.jpg");
   background-position: bottom;
     background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}


.div-title-block
{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  width:90%;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.4em;
  font-size: 2.3em;
  margin: auto;
}


@media (max-width: 2000px) {
  .headerimage{ height:600px;}
}
/*browser windows smaller than 850px*/
@media (max-width: 600px) {
   .headerimage{ height:300px;}
   .div-title-block {
    font-size: 1.6em !important;
   }
}

@media (max-width: 991px) {

   .headerwrapper{padding-top:125px;}

}

@media  (max-width: 480px) {
  .full-width-col { font-size:18px;}
   .container {margin-bottom: 40px; padding:0px 4px;}
   .headerimage{width: 100%; height: 300px;}
   .headerwrapper{padding-top:80px;}
   h1 { font-size:24px;}

}



/********************************************************/
/************* NARRATIVE CHOOSE SCHOOL *****************/
/********************************************************/

#narrativeSchoolSelectorContainer {
  margin: 0 auto;
  width: 1180px;
}

#narrativeChooseSchoolContainer{
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  left: 0px;
  height: 0px;
  width: 100%;
  background: #5C5859;
  border-top: 1px solid #332D2F;
  color: #fff;
  padding-left: 80px;
}
#narrativeChooseSchoolContainer.teaser .instructions.teaser{
  display: block;
}
#narrativeChooseSchoolContainer svg{
  /*pointer-events: none;*/
  opacity: 0;
}
#narrativeChooseSchoolContainer.open svg{
  opacity: 1;
}
.instructions.teaser {
  display: none;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 22px;
  margin-top: 10px;
}

.instructions.teaser > p {
  margin-bottom: 0 !important;
}

.instructions.teaser > p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin-top: 2px;
}

p.missingDataNote {
  display: none;
  font-size: 12px;
}

#narrativeChooseSchoolHeader, #narrativeChooseSchoolTextContainer{
    width: calc(100% - 20px);
    height: 30px;
    margin-top: 10px;
}
#narrativeChooseSchoolLabel{
  display: inline-block;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
}
#narrativeChooseSchoolInput{
    display: inline-block;
    float: left;
    color: #fff;
    background: #5C5859;
    border: 1px solid white;
    padding: 5px 11px;
    font-weight: 900;
    font-style: italic;
    font-size: 14px;
    font-family: Lato;
    width: 400px;
}
#narrativeChooseSchoolContainer.teaser #narrativeChooseSchoolInput{
  margin-bottom: 100px;
}
#narrativeChooseSchoolContainer.teaser #narrativeChooseSchoolArrow{
  display: none;
}
#narrativeChooseSchoolName{
  margin-bottom: 15px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}
.choose-lvl{
  float: left;
  background: #848081;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #848081;
  padding: 8px 12px;
  margin-right: 16px;
  cursor: pointer;
}
.choose-lvl.active{
  border: 1px solid #fff;
}
#narrativeChooseSchoolArrow{
  float: right;
  transform: rotate(0deg);
  cursor: pointer;
}

#narrativeChooseSchoolTextContainer{
  margin-top: 31px;
  width: 400px;
}
#narrativeChooseSchoolText{
  float: left;
  clear: both;
  margin-top: 25px;
  font-size: 15px;
  line-height: 24px;
}
#narrativeChooseSchoolChartContainer{
    position: absolute;
    right: 0px;
    top: 12px;
}
#narrativeChooseSchoolChartContainer svg{
    position: absolute;
    right: 0px;
    top: -10px;
}
#narrativeChooseSchoolList {
    position: fixed;
    left: 10px;
    display: block;
    top: -43px;
    height: 100%;
}
#narrativeChooseSchoolList.open{
  top: calc(-50% + 33px );
}
#narrativeChooseSchoolList.teaser{
  top: -143px;
}

#exploreSchoolInput{
    color: #ffffff;
    background: #5C5859;
    border: 1px solid #ffffff;
    padding: 8px 11px;
    font-weight: normal;
    font-style: italic;
    font-size: 17px;
    font-family: Lato;
    width: 363px;
/*    margin-bottom: 30px;*/
}

#exploreSchoolList{
  position: relative;
}
#exploreSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
    display: block !important;
    position: absolute;
    width: 131px;
    /* top: 270px !important; */
    left: 0px !important;
    height: fit-content;
    color: #fff;
    width: 278px !important;
    list-style: none;
    top: -30px !important;
    z-index: 200;
}

#narrativeChooseSchoolList ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
    display: block !important;
    position: absolute;
    width: 131px;
    /* top: 270px !important; */
    left: 0px !important;
    bottom: 0px;
    height: fit-content;
    top: unset !important;
    color: #fff;
    width: 278px !important;
    list-style: none;
}
ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li{
  background: #7B7B7B;
  padding: 22px 15px 22px 15px;
  border-bottom: 1px solid #BCBCBC;
  cursor: pointer;
}
ul.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front li:hover{
  background: #1696d2;
}
.searchSchool{
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.searchCity{
font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.searchLevel{
  font-size: 13px;
  font-style: italic;
}


/**************explore controls**************/
.exploreMedianText{
  font-size: 16px;
}
#exploreHeading{
  color: #ffffff;
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

#exploreHeaderBar {
  background-color: #5C5859;
  border-bottom: 1px solid #d2d2d2;
  padding: 20px 0;
}

#exploreBarContentWrapper {
  width: 1150px;
  margin: 0 auto;
}

.endSymbol {
  display: block;
  margin: 0px auto 250px auto;
  width: 40px;
}

.levelButton{
  font-size: 14px;
  display: inline-block;
background: #d2d2d2;
    color: #9d9d9d;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}
.levelButton.active{
  background: #1696d2;
  color: #fff;
}
#schoolTypeControlContainer{
  margin-bottom: 20px;
}
#schoolTypeLabel{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}
.radioContainer{
    display: inline-block;
    margin-right: 60px;
  cursor: pointer;

}
.radioButton{
  display: inline-block;
  width: 21px;
    margin-right: 9px;
    top: 5px;
    position: relative;
    height: 21px;
    background-image: url(../images/radio-inactive.png);
    background-size: 21px;
    background-repeat: no-repeat;

}
.radioContainer.active .radioButton{

  background-image: url(../images/radio-active.png);

}
.radioLabel{
  display: inline-block;
      font-size: 16px;
    font-weight: bold;

}

/****************explore tooltip ********************/
#tt-container.fixed{
    position: fixed;
    top: 50px;
    background: white;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid #EC008B;
    left: 0px;
    padding-left: 20px;
}
#tt-container.fixed #tt-lvlContainer{
  margin-top: 3px ;
}
#tt-container.fixed #tt-schoolName{
  margin-top: 18px;
}
#tt-container.fixed #tt-dataContainer{
    top: 49px;
    position: fixed;
    z-index: 200;
}
#tt-container.fixed .tt-datumContainer.district {
    width: 15%;
    margin-left: 35%;
    margin-right: 5%;

}
#tt-container.fixed #tt-nameContainer{
  border-bottom: none;
}
#tt-nameContainer{
    padding-bottom: 9px;
    border-bottom: 2px solid #EC008B;
}
#tt-schoolName{
    color: #0E0C0D;
    font-size: 21px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin-bottom: 12px;
    width: 436px; 
}
.tt-lvl{
    display: inline-block;
    font-size: 14px;
    background: #DCDBDB;
    color: #0E0C0D;
    width: fit-content;
    padding: 6px 11px;
    margin-right: 7px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.tt-lvl.active{
  background: #EC008B;
  color: #fff;
}
.tt-lvl.hidden{
  display: none;
}
#tt-dataContainer{
  width: 100%;
    display: block;
    float: left;
    margin-top: 20px;
    margin-bottom: 45px;
}
.tt-datumContainer{
font-size: 19px;
    float: left;
    width: 15%;
    display: inline-block;
}
.tt-datumContainer.minority{
  width: 24%;
}
.tt-datumContainer.sci{
  width: 6%;
}
.tt-datumLabel{
  font-size: 16px;
  font-weight: bold;
}
.tt-datumValue{
font-size: 16px;
    color: #848081;
}
.tt-datumContainer.district{
  width: 55%;
}
#tt-container.fixed #tt-hood{
  margin-top: 9px;
}
#tt-hood{
color: #353535;
    font-size: 16px;
    font-style: italic;
    float: right;
    margin-top: 19px;
    width: 45%;
}
/****************explore v********************/

#exploreVChartContainer{
  display: inline-block;
  float: left;
  margin-right: 43px;
  z-index: 2;
}


/********** MAPPPP **************/
#mapComponentsContainer{
  height: 470px;
  width: 470px;
    position: absolute;
    right: 49px;
}
#mapContainer{
border: 2px solid #1E1E1E;
}

#mapContainer, #mapDotSvgContainer{
height: 500px;
    width: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
 #mapDotSvgContainer{
    pointer-events: none;
}
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass{
    display: none ;
}



/********************* breakdown bars *****************/
#breakdownContainer{
    display: block;
    float: left;
    clear: both;
}
.breakdownHeader{
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.breakdownHeader.race{
  margin-top: 30px;
}
.breakdownSubheader{
  font-size: 13px;
}
.breakdownSubheader.overunder{
    top: 50px;
    position: relative;
}
#breakdownUnderContainer{
  display: inline-block;
  margin-top: 33px;
  margin-right: 40px;
}
#breakdownOverContainer{
  display: inline-block;
  margin-top: 60px;
}
.breakdownRaceBarContainer{
  width: 470px;
  margin-top: 5px;
  background: #dcdcdc;
  height: 25px;
  position: relative;
}
.breakdownRaceBar{
  display: flex;
  height: 25px;
  position: absolute;
  top: 0px;
}
.breakdownRaceBar.under{
  left: 0px;
  background: #FDBF11;
  border-right: 2px solid #fff;
}
.breakdownRaceBar.over{
  right: 0px;
  background: #56B747;
  border-left: 2px solid #fff;
}
.breadownRaceBarLabel{
  font-size: 14px;
  position: absolute;
  top: 28px;
}
.bblPercent{
  display: block;
  font-weight: bold;
}
.breadownRaceBarLabel.under{
  left: 0px;
  text-align: left;
}
.breadownRaceBarLabel.over{
  right: 0px;
  text-align: right;
}
.mouseSubBar{
  display: inline-block;
  float: left;
height: 25px;
    cursor: pointer;
}
.mouseSubBar.active{
  background: #ec008b;
}
.mouseSubBar.disabled{
    pointer-events: none;
    background: white;
    opacity: .6;
}


.breakdownTypeName{
  font-size: 18px;
  margin-top: 10px;
}

.breakdownTypeBarContainer{
  width: 202px;
  margin-top: 5px;
  background: #dcdcdc;
  height: 25px;
  position: relative;
}
.breakdownTypeBarContainer.sci{
  margin-top: 24px;
}
.breakdownTypeBarContainer.pop{
  margin-top: 46px;
}
.subBar{
  display: flex;
  height: 25px;
  /*position: absolute;*/
  top: 0px;
  float: left;
  border-right: 2px solid #fff;
}
.subBar.active{
  background: #1696d2;
}
.subBar.hide{
  display: none;
}
.subLabel{
  font-size: 14px;
}
.subLabel span{
  font-weight: bold;
  display: inline-block;
  margin-right: 3px;
}
.breakdownTypeChartContainer{
  width: 240px;
  display: inline-block;
}
.breakdownHeader.type{
  margin-top: 60px;
}
.breakdownNoSchools{
  display: block;
  position: absolute;
  z-index: 1;
  background: #fff;
  width: 200px;
  font-size: 13px;
  font-style: italic;
  color: #848081;
  padding-top: 20px;
  padding-bottom: 100px;
}
.breakdownNoSchools.hide{
  display: none;
}

.ui-helper-hidden-accessible{
  display: none;
}


.voronoi path{
  fill: transparent;
  stroke: none;
}




footer{
  display: block;
    float: left;
    width: 100%;
}
footer p{
  clear: both;
}
.footerButton{
  margin-bottom: 12px;
}


.explore.medianTextG{
  display: none;
}
