body, svg{
	font-family: "Lato";
}

#exploreDistrictName{
	font-size: 30px;
	font-weight: bold;
}
#districtName{
	/*margin-bottom: 20px;*/
}

.schoolLevelButton{
	display: inline-block;
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10px;
    color: #353535;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: .4;
    background: #d2d2d2
}
.schoolLevelButton.active{
	color: #fff;
	background: #1696d2;
	opacity: 1;
}

.schoolTypeButton{
	display: inline-block;
    width: 80px;
    height: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: .4;
}
.schoolTypeButton.active{
	opacity: 1;
}
.schoolTypeButton.charter{
	background: #ec008b;
}
.schoolTypeButton.magnet{
	background: #55b748;
}
.schoolTypeButton.tps{
	background: #1696d2;
}
.schoolTypeButton.private{
	background: #fdbf11;
	color: #353535;
}
.scaleByPop{
	color: #1696d2;
	margin-bottom: 20px;
	font-style: italic;
	text-decoration: underline;
	cursor: pointer;
}
.explore.dot, .explore.bar{
	stroke: none;
	/*opacity: .5;*/
}
.explore.charter{
	fill: #ec008b;
}
.explore.magnet{
	fill: #55b748;

}
.explore.tps{
	fill: #1696d2;
}
.explore.private{
	fill: #fdbf11;
}






td.charter{
    border-radius: 20px;
    width: 0px;
    border: 10px solid white;
	 background: #ec008b;
}
td.magnet{
    border-radius: 20px;
    width: 0px;
    border: 10px solid white;
	 background: #55b748;

}
td.tps{
    border-radius: 20px;
    width: 0px;
    border: 10px solid white;
	background:  #1696d2;
}
td.private{
    border-radius: 20px;
    width: 0px;
    border: 10px solid white;
	background: #fdbf11;
}
.tempSectionTitle{
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
}
td{
	padding: 10px;
}